<div class="post">
  <div class="header">
    <h1>Title</h1>
    <button
      routerLink="/"
      class="btn btn-link"
    >На главную
    </button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>Дата</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, laboriosam.</p>
  </div>
</div>
